<div>
    <div>
        <input #termino type="text" class="form-control" (keyup.enter)="buscarArtista(termino.value)" placeholder="Buscar artista" style="text-transform:uppercase">
    </div>
</div>

<div class="card-columns m-5">
    <div class="card" *ngFor="let item of artistas">

        <img *ngIf="item.images == 0" src="assets/img/banner-ico.png" class="card-img-top" alt="">
        <img *ngIf="item.images != 0" [src]="item.images[0].url" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <span *ngFor="let genres of item.genres, let i = index" class="badge badge-success">{{genres}}</span>
        </div>
    </div>
</div>